<script src="{{ site.baseurl }}/js/equipment.js"></script>
<header id="header">
    <h1 id="logo"><a href="{{ site.baseurl }}/">Coventry<span> Mountaineering</span></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Welcome</a></li>
            <li><a href="{{ site.baseurl }}/info.html">Information</a></li>
            <li><a href="{{ site.baseurl }}/team.html">The Team</a></li>
            <li class='submenu'><a href="{{ site.baseurl }}/equipment.html">Equipment</a>
            <ul>
                <li><a onclick="display_climbing()" href='{{ site.baseurl }}/equipment.html#climbing-display'>Climbing</a></li>
                <li><a onclick="display_hiking()" href='{{ site.baseurl }}/equipment.html#hiking-display'>Hiking</a></li>
                <li><a onclick="display_winter()" href='{{ site.baseurl }}/equipment.html#winter-display'>Winter</a></li>
                <li><a onclick="display_other()" href='{{ site.baseurl }}/equipment.html#other-display'>Other</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
          <li><a href="{{ site.baseurl }}/calendar.html">Calendar</a></li>
          <li class="submenu">
          <li><a href="http://www.cusu.org/opportunities/sports/a-z-sports/mountaineering/" class="button special">Join Us</a></li>
        </ul>
    </nav>
</header>
