<script src="{{ site.baseurl }}/js/equipment.js"></script>
<header id="header">
    <h1 id="logo"><a href="{{ site.baseurl }}/">Coventry<span> Mountaineering</span></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Welcome</a></li>
            <li><a href="{{ site.baseurl }}/info.html">Information</a></li>
            <li><a href="{{ site.baseurl }}/team.html">The Team</a></li>
          <li><a href="{{ site.baseurl }}/calendar.html">Calendar</a></li>
          <li class="submenu">
          <li><a href="https://www.cusu.org/clubs/mountaineering/" class="button special">Join Us</a></li>
        </ul>
    </nav>
</header>
